img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

div.footer {
  border-top: 1px solid black;
}

li.red{
  color: red;
}

table.noborder{
  border: 0px;
  border-collapse: separate;
  border-spacing: 50px 10px;
}

table.text_center{
  text-align: center
}

table.noborder th, table.noborder td {
  border: 0px;
}

table.pseudocode{
	border: 1px;
	border-collapse: collapse;
	font-family: Courier New;
	font-size: 1em;
	text-align: justify;
	word-spacing: 0.25em;
	line-height: 1.5em;
	width: 70%;
	table-layout: fixed;
}


table.pseudocode th{
	text-align: center;
	background-color: #dddddd;
}

table.pseudocode td{
	padding-left: 1em;
	padding-right: 1em;
}

table.padding_cell th{
	padding-left: 1em;
	padding-right: 1em;
}

table.padding_cell td{
	padding-left: 1em;
	padding-right: 1em;
}

p.sql_table{
	text-align: center
}

i.green{
  color: green;
}


div.pseudocode{
  font-family: Courier New;
  margin: auto;
  width: 60%;
}